name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy joblib

      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      - name: List MLProject folder (debug)
        run: |
          echo "PWD: $(pwd)"
          ls -la MLProject || true
          ls -la MLProject/artifact || true

      - name: Upload artifacts (if any)
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: MLProject/artifact
