name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy joblib

      # FIX: make sure mlruns exists so MLflow doesn't panic
      - name: Prepare mlruns folder
        run: mkdir -p mlruns

      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: MLProject/artifact
