name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy joblib

      # === STEP WAJIB: RUN MLFLOW PROJECT ===
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # OPTIONAL: list artifact folder untuk debug reviewer
      - name: List MLProject folder
        run: |
          ls -R MLProject

      # UPLOAD ARTIFACT
      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: MLProject/artifact
