name: CI-Workflow

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r MLProject/requirements.txt
        pip install mlflow

    - name: Run MLflow Project (CI-stable)
      working-directory: MLProject
      run: |
        mlflow run . --env-manager=local -P data_path=diabetes_preprocessing.csv

    # Upload artifact model yang pasti ada
    - name: Upload trained model artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: MLProject/model/model.joblib
